<p>
Born in the Philippines in 1968. Moved to the United States with my family when I 
was three years old. Raised in Jersey City, New Jersey. Went to Catholic schools (St. Aedan's, 
<a href="http://www.stpetersprep.org/">St. Peter's Prep</a>). Graduated college from <a href="http://www.rpi.edu/">Rensselaer</a> in December 1990. Moved to Boston.
Married <a href="http://theworld.rickumali.com/rickjenn.html">Jenn</a> in 1995. 
</p>
<p>
I have two brothers, <a href="http://www.flickr.com/people/yomamali/">Ron</a> and <a href="http://www.uwm.edu/~rumali/">Renato</a>. My Mom and Dad still live in New Jersey. 
</p>
<p>
Jenn and I live in Arlington (a suburb of Boston). We have a daughter named 
<a href="http://www.flickr.com/photos/rickumali/sets/72157602970340534/">Mia</a>.
</p>
