<p>
Born in the Philippines in 1968. Moved to the United States with my family when I 
was three years old. Raised in Jersey City, New Jersey. Went to Catholic schools (St. Aedan's, 
<a href="http://www.stpetersprep.org/">St. Peter's Prep</a>). Graduated college from <a href="http://www.rpi.edu/">Rensselaer</a> in December 1990. Moved to Boston.
Married <a href="http://theworld.rickumali.com/rickjenn.html">Jenn</a> in 1995. 
</p>
<p>
I have two brothers, <a href="https://www.linkedin.com/in/jose-ranniel-umali-cebs-99042810/">Ron</a> and <a href="http://uwm.edu/arts/directory/umali-renato/">Renato</a>. My parents live in New Jersey. 
</p>
<p>
Jenn and I live in Burlington (outside Boston). We have a daughter named 
<a href="http://www.flickr.com/photos/rickumali/sets/72157602970340534/">Mia</a>.
</p>
