<!-- Generated: [% current_time_stamp %] -->

<p>Yes, I write a <a href="http://en.wikipedia.org/wiki/Blog">blog</a>. I've been writing <a href="http://blog.rickumali.com/">Rick's Ramblings</a> since 2001.</p>
[% FOREACH entry = entries %]
	<h2><a href="[% entry.url %]">[% entry.title %]</a></h2>
	<h3>[% entry.published_date %]</h3>
	<p>[% entry.text %]</p>
	<hr/>
[% END %]
<a href="http://feeds.feedburner.com/RicksRamblings"><img src="feed-icon-14x14.png"></a>
