<div class="row justify-content-center">
<div class="col-4">
<p class="text-center">
Email: <a href="mailto:rickumali@gmail.com">rickumali@gmail.com</a>
</p>
</div>
</div>
<div class="row justify-content-center">
<div class="col-4">
<p class="text-center">
Twitter: <a href="http://twitter.com/rickumali" >@rickumali</a>
</p>
</div>
</div>
<div class="row justify-content-center">
<div class="col-4">
<p class="text-center">
<a href="http://www.linkedin.com/in/rickumali"><img src="linkedin-rick.gif" width="120" height="30" border="0" alt="View Rick Umali's profile on LinkedIn"></a>
</p>
</div>
</div>
<div class="row justify-content-center">
<div class="col-sm-4">
<a href="https://www.manning.com/books/learn-git-in-a-month-of-lunches" ><img class="img-fluid" src="UmaliGit-med.jpg"
border="0" alt="Learn Git in a Month of Lunches by Rick Umali"></a>
</div>
<div class="col-sm-4">
<a href="http://amzn.to/2fY7Rg7"><img class="border img-fluid" src="ickitat-med.jpg"
border="0" alt="I Couldn't Keep It To A Tweet"></a>
</div>
</div>
