<p>
<a href="mailto:rickumali@gmail.com">rickumali@gmail.com</a>
</p>
<p>
<a href="http://www.linkedin.com/in/rickumali" ><img src="linkedin-rick.gif" width="120" height="30" border="0" alt="View Rick Umali's profile on LinkedIn"></a>
</p>
