<p>
<a href="mailto:rickumali@gmail.com">rickumali@gmail.com</a>
</p>
<p>
<a href="http://www.linkedin.com/in/rickumali" ><img src="linkedin-rick.gif" width="120" height="30" border="0" alt="View Rick Umali's profile on LinkedIn"></a>
</p>
<p>
<a href="http://twitter.com/rickumali" ><img src="twitter4-mod.png" border="0" alt="Follow Rick Umali on Twitter"></a>
</p>
<p>
<a href="http://www.manning.com/umali" ><img src="UmaliGIT_meap_med.jpg"
border="0" alt="Learn Git in a Month of Lunches by Rick Umali"></a>
</p>
