<p>
<a href="http://www.rickumali.com/">This site</a> was made with <a href="http://www.vim.org/">gVim 7.0</a>, <a href="http://www.perl.com/">Perl 5.8.8</a>, the <a href="http://www.template-toolkit.org/">Template Toolkit</a>, the <a href="http://developer.yahoo.com/yui">Yahoo! User Interface Library</a> (2.4.0), and <a href="http://www.jasc.com/">Paint Shop Pro</a>.
</p>
<p>
Hosted at <a href="http://www.netatlantic.com" target="_blank"> <img src="http://www.netatlantic.com/images/logo-small.gif"  alt="Net Atlantic Internet Services - Web Hosting, E-Mail List Hosting, Dedicated Servers, E-Commerce" border="0" align="absmiddle" /> </a>
</p>
