<p>
<a href="http://github.com/rickumali/RickUmaliVanityWebsite/">This site was made</a> with <a href="http://www.vim.org/">Vim</a>, <a href="http://www.perl.com/">Perl 5.28</a>, the <a href="http://www.template-toolkit.org/">Template Toolkit</a>, and <a href="https://getbootstrap.com/">Bootstrap</a>.
</p>
<p>
Hosted at <a href="http://www.netatlantic.com" target="_blank"> <img src="http://www.netatlantic.com/images/logo-small.gif"  alt="Net Atlantic Internet Services - Web Hosting, E-Mail List Hosting, Dedicated Servers, E-Commerce" border="0" align="absmiddle" /> </a>
</p>
