<!-- Generated: [% current_time_stamp %] -->
<p><a href="http://blog.rickumali.com/2003/10/i-feel-as-if-im-now-fully-recovered.html">For a long time I didn't follow sports.</a> But now I do. The links below will take you to posts from my <a href="https://www.sportsblog.com/rickumali/">sports blog</a>.</p>
[% FOREACH entry = entries %]
	<h4><a href="[% entry.url %]">[% entry.title %]</a></h4>
	<p>[% entry.published_date %]</p>
	<p>[% entry.text %]</p>
	<hr/>
[% END %]
<a href="http://feeds.feedburner.com/RickOnSports"><img src="feed-icon-14x14.png"></a>
