<!-- Generated: [% current_time_stamp %] -->
<p>I'm a sports nut. <a href="http://blog.rickumali.com/2003/10/i-feel-as-if-im-now-fully-recovered.html">I didn't used to be.</a> But now I am. My <a href="http://sportsnation.espn.go.com/fans/rick_umali/blog/">sports blog</a> is on <a href="http://espn.go.com/">ESPN</a>'s SportsNation.</p>
[% FOREACH entry = entries %]
	<h2><a href="[% entry.url %]">[% entry.title %]</a></h2>
	<h3>[% entry.published_date %]</h3>
	<p>[% entry.text %]</p>
	<hr/>
[% END %]
<a href="http://feeds.feedburner.com/RickOnSports"><img src="feed-icon-14x14.png"></a>
