<!-- Generated: [% current_time_stamp %] -->
<p>I work in computers. At least that's how I put it when people ask me what I do. I've been <a href="http://tech.rickumali.com/">writing a technical BLOG</a> featuring computer code as well as observations about <a href="http://techtalk.dev/tags/job">working in a technical field.</a></p>
[% FOREACH entry = entries %]
	<h2><a href="[% entry.url %]">[% entry.title %]</a></h2>
	<h3>[% entry.published_date %]</h3>
	<p>[% entry.text %]</p>
	<hr/>
[% END %]
<a href="http://tech.rickumali.com/rss.xml"><img src="feed-icon-14x14.png"></a>
